.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;

  text-align: center;
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing);

  font-family: TimesNewVariable;
  font-variation-settings: "curs" var(--cursAxis), "wght" var(--wghtAxis);
  overflow: visible;
  padding: 30px;
  box-sizing: border-box;
}

.title:focus {
  border: 0;
  outline: 0;
}
