.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.title {
  font-size: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;

  text-align: center;
  font-size: 32px;
  line-height: 1;
}

#curtain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;

  z-index: -1;
}
